{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    id='index-body' class='bg-white'
{% endblock %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <div class="jumbotron-content">
                {% if not session['user_id'] %}
                    <p class='text-center mb-4'>A simple web application as your ToDo list</p>
                    <p class='text-center'>Easy to use</p>
                    <p class='text-center'>Reliable</p>
                    <p class='text-center'>Intuitive</p>
                    <form action="/register" class='ml-auto mr-auto'>
                        <button id='learn-more' class="btn btn-primary mt-5" role="button">Register &raquo;</button>
                    </form>
                    {% else %}
                    <p class='text-center mb-4'>Your ToDo list</p>
                    <form action="/todo" class='ml-auto mr-auto'>
                        <button id='learn-more' class="btn btn-primary mt-5" role="button">Continue &raquo;</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


