{% extends "layout.html" %}

{% block title %}
    Password change
{% endblock %}

{% block body %}
    style='background-image: linear-gradient(to right top, #050078, #a3006b, #e8414f, #ffa041, #f9f871);'
{% endblock %}

{% block main %}

        <div class="pswd-change">
            <form action="/password" method="post">
                <div class="mb-5">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Current password" type="password" required>
                </div>
                <div class="mb-4 mt-2">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New password" type="password" required>
                    <input class="form-control mx-auto w-auto mt-4 mb-1" id="confirm_pass" name="confirmation" placeholder="Confirm new password" required type="password">
                    <p class='text-center fs-6 fw-light'>Passwords must match</p>
                </div>
                <button class="btn btn-primary" type="submit">Change</button>
            </form>
        </div>

{% endblock %}